html{
    margin:0;
    padding: 0;
}

:root{
    /*--weblue: #21409a;*/
    --weblue:#0D2C54;
    --wegreen:#7CEA9C;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--wegreen);
}



.about-us{
    height: auto;
    /*background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(/images/upcoming.jpg);*/
    /*background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(/images/upcoming.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.about-us h1{
    text-transform: lowercase;
    width: 100%;
    color: var(--wegreen); /*rgba(6, 30, 73, 1);*/
    background-color: rgba(6, 30, 73, 1);
    padding-top: 2rem;
    padding-bottom: 2rem;
     /*var(--wegreen);*/

}

h1,h2,h3{
    font-weight: 600;
    color: var(--weblue);

}

.breadcrumb{
    background-color: var(--wegreen);
    font-weight: 600;
}

.breadcrumb a{
    color: var(--weblue);
    text-decoration: none;
}

.container .value{
    
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    color: var(--weblue);
    text-align: justify;
}

footer a{
    color: var(--wegreen);
}

footer a:hover{
    color: yellow;
}

.vision2{
    height: auto;
    width: 100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    background-attachment: fixed;
}
/*.ia-container {
    width: 685px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    border: 7px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

.ia-container figure {
    position: absolute;
    top: 0;
    left: 50px;
     width of visible piece 
    width: 335px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.ia-container>figure {
    position: relative;
    left: 0 !important;
}

.ia-container img {
    display: block;
    width: 100%;
}

.ia-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ia-container input:checked {
    width: 5px;
    left: auto;
    right: 0px;
}

.ia-container input:checked~figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
    width: 100%;
    height: 100%;
    background: rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
    position: absolute;
    top: 40%;
    margin-top: -30px;
    right: 20px;
    left: 20px;
    overflow: hidden;
    text-align: center;
    background: rgba(87, 73, 81, 0.3);
    line-height: 20px;
    font-size: 18px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ia-container input:checked+figcaption,
.ia-container input:checked:hover+figcaption {
    background: rgba(87, 73, 81, 0);
}

.ia-container input:checked+figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 50%;
}

.ia-container #ia-selector-last:checked+figcaption span {
    transition-delay: 0.3s;
}

.ia-container input:hover+figcaption {
    background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked~figure input {
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container {
        width: 540px;
    }
    .ia-container figure {
        left: 40px;
        width: 260px;
    }
    .ia-container input {
        width: 40px;
    }
    .ia-container input:checked~figure {
        left: 260px;
    }
    .ia-container figcaption span {
        font-size: 16px;
    }
}

@media screen and (max-width: 520px) {
    .ia-container {
        width: 320px;
    }
    .ia-container figure {
        left: 20px;
        width: 180px;
    }
    .ia-container input {
        width: 20px;
    }
    .ia-container input:checked~figure {
        left: 180px;
    }
    .ia-container figcaption span {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 10px;
        margin-top: -20px;
    }
}

.data {
    position: relative;
    text-align: center;
}

.col-6 {
    color: black;
    background-image: url('images/1.jpg');
    width: 24vw;
    height: 13vh;
    padding: 0 -3.5vw 0 0;
    float: left;
    font-family: "Nunito", Arial, sans-serif;
    margin: 4vh 0;
    font-size: 2.5vh;
}
*/
/*h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
*/
.mission {
    text-align: justify;
    color: black;

}

/*.text {
    font-size: 1rem;
    line-height: 1;
}
*/
.value {
    font-weight: bolder;
}

footer a{
    color: var(--wegreen);
}

footer a:hover{
    color: yellow;
}