:root{
    /*--weblue: #21409a;*/
    --weblue:#0D2C54;
    --wegreen:#7CEA9C;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--wegreen);
}

h5 {
    color: gray;
}

form {
    color: gray;
    font-size: 1.25rem;
}

a {
    /* color: #1382b9; */
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
}

.fa-facebook-square {
    color: #4267b2;
}

.fa-twitter {
    /*color: rgba(29, 161, 242, 1.00);*/
}

.fa-linkedin {
    color: rgb(0, 115, 176);
}

.btn-primary {
    background-color: #1382b9;
    border-color: #1382b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    /*background: white;*/
    margin: 5px;
    transition: 1s;
    /*max-width: 60%; */
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
    text-decoration: none;
}

.social-btn:hover span {
    padding: 2px;
    width: max-content;
}

#twitter svg {
    fill: #1da1f2;
}

#linkedin svg {
    fill: #0e76a8;
}

.media-links-text {
    font-size: 1.5em;
}

.contact {
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    background-attachment: fixed;
    text-align: center;
}

.contact-text {
    padding-top: 30vh;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.button--white {
    color: #fff;
    border: 1px solid #fff;
}

.button {
    width: 100%;
    display: block;
    padding: 17px 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    max-width: 60%;
    margin-left: 20%;
}

.button__text--delay {
    /*transition: color .1s .1s linear;*/
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.button__text {
    /*font-size: 16px;*/
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    z-index: 10;
}

.button__text--delay,
.button__background {
    transform-style: preserve-3d;
}

.button:hover .button__background {
    left: 0;
}

.button__background {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -100%;
    transition: left .3s 0s cubic-bezier(.72, .065, .275, .885);
    background-color: var(--wegreen); /*#fff;*/
    width: 100%;
}

.button--white:hover {
    color: #000;
    text-decoration: none;
}
















.floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
}

.floating-label-group .floating-label{
    font-size: 13px;
    color: white;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
}

.floating-label-group input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label{
        
        top: -15px;
        bottom: 0px;
        left: 0px;
        font-size: 11px;
        opacity: 1;
        color: white;
}

.row {
    margin-top: 50px;
}


input{
    width: 50%;
    background-color: transparent !important;
    border:none !important;
    border-bottom: .1rem solid white !important;
    border-radius: 0 !important;
    color: white !important;
    box-shadow:none !important;
}

.submit{
    background-color: var(--weblue);
    color: white;
    border:.1rem solid var(--weblue);
    padding: .5rem 1.2rem .5rem;
    border-radius: 1.2rem;
}

.submit:hover{
    background-color: transparent;
    border:.1rem solid white;
}