/*html, body {
  height: 100%;
}*/

html{
	margin:0;
	padding: 0;
}

:root{
	/*--weblue: #21409a;*/
	--weblue:#0D2C54;
	--wegreen:#A0E1F2; /*#7CEA9C;*/
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--wegreen);
}

.navbar-custom {
	background-color: var(--weblue);
}

.nav-link.active{
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.nav-link:not(.active){
	text-transform: lowercase;
}

.nav-link:not(.active):hover{
	text-transform: lowercase;
	text-decoration: none;
}

h1,h2:not(.header h1){
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

.card{
	margin-bottom: 1.5rem;
}

#canvas {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.header{
	height: 100vh;
	/*background-image: url(/images/header.gif);*/
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/images/BG-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;

	background-attachment: fixed;
}

.header h1{
	padding: 0;
	color: var(--weblue);
	padding-top: 8rem;
}

.listen-typewrite{
	z-index: 2;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: .1rem;
	font-weight: 600;
}

.vision{
	position: relative;
	height: 70vh;
	background-image: linear-gradient(rgba(230,230,230,0.5), rgba(230,230,230,0.5)), url(/images/vision.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--weblue);
	background-attachment: fixed;
	padding-left: 10%;
	padding-right: 10%;
}

.vision h1{
	position: absolute;
	font-weight: 600;
	padding-top: 2rem;
}

.vision-text{
	padding-top: 20vh;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.vision-text h5{
	text-align: right;
	color:#CC4C4C;
	font-weight: 600;
}

.vision a{
	background-color: var(--weblue);
	border:.1rem solid var(--weblue);
	color: white;
	text-decoration: none;
	padding: .2rem .8rem .2rem;
	margin-left: 1rem;
	border-radius: 10px;
	font-weight: 400;
}

.vision a:hover{
	background-color: transparent;
	color: var(--weblue);
	transition: .5s;
}

.campaigns-title{
	font-weight: 600;
	padding-top: 2rem;
}

.campaigns{
	padding-left: 10%;
	padding-right: 10%;

	height: auto;
	min-height: 70vh;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 3rem;
}

.campaigns .card{
	padding: 1rem 1rem 0rem 1rem;
	/*background-image: linear-gradient(rgb(255,255,255,0.5),rgb(255,255,255,0.5) ), url('/images/camp1.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center center;
	border-style: solid;
  	border-color: var(--weblue);
  	border-width: 0.2rem;
  	border-radius: 2rem;
  	box-shadow: 0rem 1rem 2rem rgba(167,167,167,0.4);
  	text-align: center;

}

.campaigns .card:hover {
	/*padding: 3rem 0rem 0rem 3rem;*/

	/*background-image: linear-gradient(rgb(255,255,255,0.5),rgb(255,255,255,0.5) ), url('/images/camp2.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center center;
	text-decoration:none; 
	background-color: var(--wegreen);
	/*background: linear-gradient(rgb(255,255,255,0),rgb(255,255,255,0) );*/
	background-color: white;
	/*-webkit-transform: translateY(0%) translateX(0%);
          transform: translateY(10%) translateX(10%);*/
    transform: scale(1.3);
    transition-delay: .75s;

	text-decoration:none; 
 	/*background-color: yellow;*/
 	transition: .5s;
 	z-index: 200;

 	border-style: solid;
  	border-color: var(--weblue);
  	border-width: 0.2rem;
  	border-radius: 2rem;
  	box-shadow: 1rem 1rem 2rem rgba(167,167,167,0.8);


}

/*.campaigns .card:hover div {*/
	/*padding: 3rem 0rem 0rem 3rem;*/
	/*background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) );*/
	/*background-image: linear-gradient(rgb(255,255,255,0.5),rgb(255,255,255,0.5) ), url('/images/camp2.png');*/
/*}*/

.campaigns .card:hover div .card-content {
	/*padding: 3rem 0rem 0rem 3rem;*/
	/*text-align: center;*/

	opacity: 1
} 

.campaigns .card div .card-content {
	/*padding: 3rem 0rem 0rem 3rem;*/
	opacity: 0
} 
.campaigns .card:hover .card-img {
	/*padding: 3rem 0rem 0rem 3rem;*/
	/*text-align: center;*/

	opacity: 0
} 

.campaigns .card .card-img{
	/*padding: 3rem 0rem 0rem 3rem;*/
	/*text-align: center;*/
	opacity: 1
} 


/*div:hover > .col-sm-3 {
	padding: 3rem 0rem 0rem 3rem;*/
	/*background-image: linear-gradient(rgb(255,255,255,0.5),rgb(255,255,255,0.5) ), url('/images/camp1.png');*/
	/*background-size: cover;
	background-repeat: no-repeat;
	background-origin: center center;*/
    /*transform: scale(1);*/
    /*transition-delay: .5s;*/
    /*transition: .1s;*/
/*
}*/

.campaigns h3{
	font-weight: 600;
}

.campaigns a, .upcoming-events a{
	color: var(--weblue);
	/*margin-bottom: translateX(-10%);*/
	/*border-bottom: 1rem solid yellow;*/
	box-shadow: inset 0 -1rem 0 yellow;
}

.campaigns a:hover , .upcoming-events a:hover{
 text-decoration:none; 
 background-color: yellow;
 transition: .5s;
}

/*

.owl-stage{
	display: flex;
	flex-direction: row;
}

.owl-item{
	padding: 1rem 1.5rem 0rem;
	margin-right: .5rem;
	border-radius: 10px;
	background-image: linear-gradient(rgba(230,230,230,0.9), rgba(230,230,230,0.9)), url(/images/campaigns-bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.upcoming-events{
	padding-top: 4rem;
	background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/images/upcoming.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: auto;
	padding-bottom: 3rem;
}

.upcoming-text{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.upcoming-text h3{
	font-weight: 600;
	margin-left: 0 !important;
	padding-left: 1rem;
	color: white;
	background-color: black;
}


.upcoming-events .card{
	background: inherit;
    color: white;
    border: none;
}

.upcoming-events .card a{
	color: white;
	box-shadow: inset 0 -1rem 0 var(--weblue);
}

.upcoming-events .card a:hover{
	background-color: var(--weblue);
}
*/

.collaborators{
	padding-left:10%;
	padding-right: 10%;
	background-color: white;
	padding-bottom: 4rem;
}

.collaborators h1{
	text-align: left;
	font-weight: 600;
	padding-top: 2rem;
}

.collaborators img{
	width: 20rem;
	height: auto;
}

.collaborators .card{
	padding: 3rem 0rem 0rem 3rem;
	background-image: linear-gradient(rgb(255,255,255,0.5),rgb(255,255,255,0.5) ), url('/images/camp1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center center;
}

.collaborators a{
	color: var(--weblue);
	box-shadow: inset 0 -1rem 0 yellow;
}

.collaborators a:hover{
 text-decoration:none; 
 /*background-color: yellow;*/
 transition: .5s;
}


@media screen and (max-width: 768px) {
  
  body{
  	font-size: .8rem;
  }

  .header{
	height: 78vh;
  }

  .listen-typewrite{
  	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 0rem;
  }
  .campaigns .card{
	padding: 1rem 2rem 1rem;
	height: 20rem !important;
  }
}

@media screen and (max-width: 992px) {
	.card-columns{
		column-count:2;
	}
}

footer{
	color: white ;
	line-height: 2rem;
	background-image: url(/images/footer/pattern.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-link{
	padding-left: 1rem;
	color: white;
}

.footer-link:hover{
	color: yellow;
	text-decoration: none;
}

footer .social{
	color: var(--wegreen);
	padding: .25rem .65rem .25rem;

	border-radius: 2000px;
}

footer img{
	width: 2.5rem;
	height: auto;
}

footer .social:hover{
	color: yellow;
}




.modal-content{
	background:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)) ;
	padding: 4rem 2rem 4rem;
}


.floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
}

.floating-label-group .floating-label{
    font-size: 13px;
    color: white;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
}

.floating-label-group input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label{
        
        top: -15px;
        bottom: 0px;
        left: 0px;
        font-size: 11px;
        opacity: 1;
        color: white;
}

.row {
    margin-top: 50px;
}


input{
    width: 50%;
    background-color: transparent !important;
    border:none !important;
    border-bottom: .1rem solid white !important;
    border-radius: 0 !important;
    color: white !important;
    box-shadow:none !important;
}

.submit{
    background-color: var(--weblue);
    color: white;
    border:.1rem solid var(--weblue);
    padding: .5rem 1.2rem .5rem;
    border-radius: 1.2rem;
}

.submit:hover{
    background-color: transparent;
    border:.1rem solid white;
}